@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
  --switch-left: 0;
  --toggle-bg: #A9DCFD;
  --switch-bg: #D8EEFF;
  --icon-filter: none;
  --calc-bg: linear-gradient(244.38deg, #9EE8FF 8.14%, #5ACEFF 27.9%, #79AFFF 56.94%, #2D5FDE 84.11%);
  --line-bg: #6396C5;
  --button-bg: rgba(255, 255, 255, 0.3);
  --button-text-color: #373737;
  --result-text-color: #373737;
  --process-text-color: rgba(55, 55, 55, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
  display: grid;
  place-items: center;
  padding: 5rem 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.app.dark{
  --background: linear-gradient(166.34deg, #373737 0%, #252628 22.9%, #000309 100%);
  --switch-left: 54px;
  --toggle-bg: #1B6A9C;
  --switch-bg: #003661;
  --icon-filter: brightness(0) invert(1);
  --calc-bg: linear-gradient(244.38deg, #42869B 8.14%, #2A7DA1 27.9%, #224E91 56.94%, #00123F 84.11%);
  --line-bg: #3D76AB;
  --button-bg: rgba(5, 5, 5, 0.3);
  --button-text-color: #FBFBFB;
  --result-text-color: #FBFBFB;
  --process-text-color: rgba(251, 251, 251, 0.5);;
}

.app {
  position: relative;
  width: 423px;
  height: 858px;
  background: var(--background);
  border-radius: 40px;
}

button{
  border: none;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  /* border-radius: 40px; */
}
